
<div class="left">
    <div class="container">
        <div class="lists">
            <ul>
            <li><a href="/admin/">manage_news</a></li>
            <li><a href="/admin/create_news">create_news</a></li>
            <li><a href="/admin/manage_users">manage_users</a></li>
            <li><a href="/admin/create_users">create_user</a></li>
            <li><a href="/admin/manage_posts">manage_posts</a></li>
            
            </ul>
        </div>
    </div>
</div>