
.right .container .box_two
{
border-top:none;
}
.section .container
{
background-color: black;
display: flex;
height: 100%;
width: 100%;
color: white;
position:relative;
}



/* --------------------------
left
---------------------------------- */
.section .container .left
{
height: 100%;
width: 20%;
margin-top: 5em;  
background-color: transparent;
overflow-y: auto;
max-height: 500px; 
scroll-behavior: smooth;
position:fixed;
left:0;


}

.user_left_container img
{
width: 30px;
height: 30px;
border-radius: 50%;
margin: 0 10px 0 20px;
}
.user_left_container
{
display: flex;
}
.user_left_container p
{
margin-top: 6.5px;
}
.links_left_container i
{
width: 30px;
height: 30px;
border-radius: 50%;
margin: 0 10px 0 20px;
}
.links_left_container
{
display: flex;
flex-direction: column;
}
.links_left_container ul
{
list-style-type: none;
margin-left: -2.5em;
line-height: 2;
/* border-bottom: 1px solid rgb(226, 221, 221); */
}
.links_left_container ul li
{
display: flex;
cursor: pointer;
width: fit-content;

}
.links_left_container ul p
{
margin-top: -8px;
}
.links_left_container ul li a
{
text-decoration: none;
color: white;
}

/* ------------------------------------------------------
right
---------------------------------------------- */

.section .container .center
{
height: 100%;
width: 80%;
margin-top: 5em; 
position:absolute;
right:0;
}
.center .container
{
display:flex;
}
.center .container .box_one
{
background:lightgrey;
height:300px;
width:300px;
border-radius:8px;
}
.center .container .box_one img
{
width:150px;
height:150px;
border-radius:50%;
text-align:center;
margin-top:1em;
}
.center .container .box_one .names
{
color:black;
font-size:18px;
margin-top:10px;
font-weight:bold;
}
.center .container .box_two
{
background:lightgrey;
height:400px;
width:600px;
border-radius:8px;
margin-left:10px;
}
.container .box_two .top ul
{
list-style-type:none;
display:flex;
border-bottom:1px solid grey;

}
.container .box_two .top ul li a
{
margin-right:2em;
text-decoration:none;
font-size:18px;
color:black;
margin-bottom:15px;
}
.container .box_two .bottom
{
width:fit-content;
margin-left:3em;
}
.container .box_two .bottom form label
{
font-size:17px;
line-height:3;
color:indigo;
}
.container .box_two .bottom form input
{
padding:5px;
background:lightgrey;
border-radius:5px;
border:1px solid grey;
}
.container .box_two .bottom form img
{
width:50px;
height:50px;
}
.container .box_two .bottom form button
{
background:blue;
border-radius:11px;
padding:8px;
cursor:pointer;
border:none;
color:white;
}


/* ///////////////////////////////////////////////////////// */
.loged_users .bottom p
{
margin: 0 0 0 10px;
}
.loged_users
{
display: flex;
flex-direction: column;
margin-top: 5px;
padding: 3px;
margin-bottom: 1em;
width: auto;
}
.hidden
{
display:none;
}
