


.right .container .box_two
{
border-top:none;
}

.section .container
{
background-color: black;
display: flex;
height: 100%;
width: 100%;
color: white;
position:relative;
}


/* --------------------------
left
---------------------------------- */
.section .container .left
{
height: 100%;
width: 20%;
margin-top: 5em;  
background-color: transparent;
overflow-y: auto;
max-height: 500px; 
scroll-behavior: smooth;
position:fixed;
left:0;


}

.user_left_container img
{
width: 30px;
height: 30px;
border-radius: 50%;
margin: 0 10px 0 20px;
}
.user_left_container
{
display: flex;
}
.user_left_container p
{
margin-top: 6.5px;
}
.links_left_container i
{
width: 30px;
height: 30px;
border-radius: 50%;
margin: 0 10px 0 20px;
}
.links_left_container
{
display: flex;
flex-direction: column;
}
.links_left_container ul
{
list-style-type: none;
margin-left: -2.5em;
line-height: 2;
/* border-bottom: 1px solid rgb(226, 221, 221); */
}
.links_left_container ul li
{
display: flex;
cursor: pointer;
width: fit-content;

}
.links_left_container ul p
{
margin-top: -8px;
}
.links_left_container ul li a
{
text-decoration: none;
color: white;
}
/* ------------------------------------------------------
right
---------------------------------------------- */

.section .container .center .container
{
height: 100%;
width: 80%;
margin-top: 5em; 
position:absolute;
right:0;
display:flex;
flex-direction:column;
margin-left:1em;
padding:1em;
}

.center .container .box_one
{
display:flex;
color:white;
margin-bottom:1em;
height:fit-content;

}
.center .container .box_one img
{
height:20rem; 
width:25rem;
margin-right:1em;
}

.center .container .box_one .news_details p
{
color:grey;
height:auto;
width:20rem;
overflow-wrap: break-word;
}

.center .container .box_one .news_details small 
{
border-bottom:1px solid grey;
margin-bottom:10px;
}
.center .container .box_two
{
width:100%;
height:auto;
overflow-wrap: break-word;
}
